In [1]:
# Import Dependencies
import json
import pandas as pd
import numpy as np
import time

# Import Python module for regular expressions.
import re

# Create the database engine that will allow Pandas to communicate with our 
# SQL server.
from sqlalchemy import create_engine

from config import db_password

In [2]:
# Import the Wikipedia JSON file.
file_dir = 'C:/Users/angel/DataAnalytics/Class/Movies-ETL/Data/'

In [3]:
# Load the JSON into a list of dictionaries.
with open(f'{file_dir}/wikipedia.movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [4]:
# Pull in Kaggle data.
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [5]:
# Create a DataFrame from our raw data.
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [6]:
# Use List Comprehensions to create a filter expression for only movies with a director and an IMDb link.
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie) 
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]

# Check new length of rows.
len(wiki_movies)

7076

In [8]:
# Handle the Alternative Titles
# 1. Make an empty dict to hold all of the alternative titles.
# 2. Loop through a list of all alternative title keys.
# 2a. Check if the current key exists in the movie object.
# 2b. If so, remove the key-value pair and add to the alternative titles dict.
# 3. After looping through every key, add the alternative titles dict to the movie object.

def clean_movie(movie):
    movie = dict(movie)  # Create a non-destructive copy.
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles
        
# Merge column names.
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [9]:
# Extract the IMDb ID from the IMDb link.
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))

# Drop any duplicates of IMDb IDs.
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

7076
7033

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018

In [ ]:
# Remove mostly null columns
[[column, wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

In [10]:
# Make a list of columns that have less than 90% null values and use those to trim down our dataset.
[column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Productioncompanies ',
 'imdb_id']

In [11]:
# Above is list of columns we want to keep, which we now select from DF.
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
wiki_movies_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Distributed by,Release date,Running time,Country,Language,Budget,Box office,Written by,Productioncompanies,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,20th Century Fox,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,United States,English,$20 million,$21.4 million,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,Avenue Pictures,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,United States,English,$6 million,$2.7 million,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,TriStar Pictures,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,United States,"[English, Lao]",$35 million,"$57,718,089",NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,Orion Pictures,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,United States,English,$12 million,"$7,331,647",Woody Allen,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,Paramount Pictures,"December 19, 1990",95 minutes,US,English,$25 million,"$6,939,946 (USA)",Paul Hogan,NaN,tt0099018

In [13]:
# Box office should be numeric as it is currency.
# Start by dropping any missing values.
box_office = wiki_movies_df['Box office'].dropna()
len(box_office)

5485

In [14]:
# Concatenate these list items into one string using join().
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [15]:
# Now we need a function to turn the extracted values into a numeric value.
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [16]:
# Parse the box office values to numeric values.
# 1. Extract the values from box_office using str.extract
# 2. Apply parse_dollars to the first column in the DataFrame returned by str.extract
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

NameError: name 'form_one' is not defined

In [ ]:
# Box Office column is no longer needed, so we’ll just drop it
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [ ]:
# Parse the Budget
# Create a budget variable.
budget = wiki_movies_df['Budget'].dropna()

In [ ]:
# Convert any lists to strings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# Remove any values between a dollar sign and a hyphen
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# To make our code easier to understand, we’ll create two Boolean Series called 
# matches_form_one and matches_form_two, and then select the budget values 
# that don’t match either.
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)

budget[~matches_form_one & ~matches_form_two]

In [ ]:
# Remove the citation references (ex. [3]) 
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# Parse the budget values to numeric values.
# 1. Extract the values from budget using str.extract
# 2. Apply parse_dollars to the first column in the DataFrame returned by str.extract
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
# We can also drop the original Budget column.
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [ ]:
# Parse Release Date
# Make a variable that holds the non-null values of Release date in the 
# DataFrame, converting lists to strings:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# The forms we’ll be parsing are:
# 1. Full month name, one- to two-digit day, four-digit year (i.e., January 1, 2000)
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'

# 2. Four-digit year, two-digit month, two-digit day, with any separator (i.e., 2000-01-01)
date_form_two = r'\d{4}.[01]\d.[123]\d'

# 3. Full month name, four-digit year (i.e., January 2000)
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'

# 4. Four-digit year
date_form_four = r'\d{4}'

In [ ]:
# And then we can extract the dates with:
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [ ]:
# Use the built-in to_datetime() method in Pandas to parse the dates. 
# Since there are different date formats, set the infer_datetime_format option to True.
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [ ]:
# Parse Running Time
# Make a variable that holds the non-null values of Release date in the 
# DataFrame, converting lists to strings:
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
running_time

In [ ]:
# There are 6,859 entries in running_time, and it looks like most of the 
# entries just look like “100 minutes.” Let’s see how many running times 
# look exactly like that by using string boundaries.
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()

In [ ]:
# Let’s get a sense of what the other 366 entries look like.
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE) != True]

In [ ]:
# Let’s make this more general by only marking the beginning of the string, 
# and accepting other abbreviations of “minutes” by only searching up to the 
# letter “m.”
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE).sum()

In [ ]:
# That accounts for 6,877 entries. The remaining 17 follow:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE) != True]

In [ ]:
# We can capture some more of these by relaxing the condition that the pattern has to start at the beginning of the string
running_time.str.contains(r'\d*\s*m', flags=re.IGNORECASE).sum()

In [ ]:
# The remaining values:
running_time[running_time.str.contains(r'\d*\s*m', flags=re.IGNORECASE) != True]

In [ ]:
# We can match all of the hour + minute patterns with one regular expression pattern.
# Our pattern follows:
# 1. Start with one digit.
# 2. Have an optional space after the digit and before the letter “h.”
# 3. Capture all the possible abbreviations of “hour(s).” To do this, we’ll make every letter in “hours” optional except the “h.”
# 4. Have an optional space after the “hours” marker.
# 5. Have an optional number of digits for minutes.

# As a pattern, this looks like "\d+\s*ho?u?r?s?\s*\d*"

In [ ]:
# With our new pattern, it’s time to extract values. We only want to extract 
# digits, and we want to allow for both possible patterns. Therefore, we’ll 
# add capture groups around the \d instances as well as add an alternating 
# character.

running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s\s*(\d*)|(\d+)\s*m')

In [ ]:
# This new DataFrame is all strings, we’ll need to convert them to numeric 
# values. Because we may have captured empty strings, we’ll use the to_numeric() 
# method and set the errors argument to 'coerce'. Coercing the errors will turn 
# the empty strings into Not a Number (NaN), then we can use fillna() to change 
# all the NaNs to zeros.

running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [ ]:
# Apply a function that will convert the hour capture groups and minute capture 
# groups to minutes if the pure minutes capture group is zero, and save the 
# output to wiki_movies_df:

wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
# We can drop Running time from the dataset.
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [ ]:
# Initial look at the Movie Metadata
kaggle_metadata.dtypes

In [ ]:
# Before we convert the “adult” and “video” columns, we want to check that 
# all the values are either True or False.
kaggle_metadata['adult'].value_counts()

In [ ]:
# Clearly, we have some bad data in here. Let’s remove it.
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
# Keep only movies where the adult column is False, then drop the adult column.
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult', axis='columns')

In [ ]:
# Now for the "video" column.
kaggle_metadata['video'].value_counts()

# All are either True or False, so lets move on.

In [ ]:
# Convert Data Types
kaggle_metadata['video'] == 'True'

In [ ]:
# This creates the Boolean column, we just need to assign it back to "video."
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
# For the numeric columns, we can just use the to_numeric() method from Pandas. 
#  We’ll make sure the errors= argument is set to 'raise', so we’ll know if 
# there’s any data that can’t be converted to numbers.

kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

# Since code runs without errors, everything converted fine.

In [ ]:
# Convert release_date to datetime.
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
# Reasonability Checks on Ratings Data
ratings.info(null_counts=True)

In [ ]:
# To the timestamp column, specify in to_datetime() that the origin is 'unix' 
# and the time unit is seconds.
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# Assign the output to the timestamp column.
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# Look at the statistics of the actual ratings and see if there are any glaring 
# errors. A quick, easy way to do this is to look at a histogram of the 
# rating distributions, and then use the describe() method to print out some stats 
# on central tendency and spread.

ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

# That seems to make sense. People are more likely to give whole number ratings than 
# half, which explains the spikes in the histogram. The median score is 3.5, 
# the mean is 3.53, and all the ratings are between 0 and 5.

In [ ]:
# Print list of columns to identify redundancy prior to merging.
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])
movies_df.columns

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# Title
# Take a quick look at some of the titles.

movies_df[['title_wiki','title_kaggle']]

In [ ]:
# Look at the rows where the titles don’t match.

movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# Kaggle data looks more consistent. Confirm there aren’t any missing titles in the Kaggle data.

movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

# No results were returned, so we can just drop the Wikipedia titles.

In [ ]:
# Runtime
# The following code will fill in missing values with zero and make the scatter plot:

movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

# Most of the runtimes are pretty close to each other, but the Wikipedia data 
# has some outliers, so the Kaggle data is probably a better choice here.

In [ ]:
# Budget
# Since budget_wiki and budget_kaggle are numeric, we’ll make another 
# scatter plot to compare the values:

movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

# The Wikipedia data appears to have more outliers compared to the Kaggle data. 
# However, there are quite a few movies with no data in the Kaggle column, while 
# Wikipedia does have budget data. Therefore, we’ll fill in the gaps with 
# Wikipedia’s data.

In [ ]:
# Box Office
# The box_office and revenue columns are numeric, so we’ll make another 
# scatter plot.

movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

#

In [ ]:
# That looks pretty close, but we might be getting thrown off by the scale 
# of that large data point. Let’s look at the scatter plot for everything 
# less than $1 billion in box_office.

movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

# This looks similar to what we’ve seen for budget, so we’ll make the same 
# decision: keep the Kaggle data, but fill in the zeros with Wikipedia data.

In [ ]:
# Release Date
# For release_date_wiki and release_date_kaggle, we can’t directly make a 
# scatter plot, because the scatter plot only works on numeric data. However, 
# there’s a tricky workaround that we can use. We’ll use the regular line 
# plot (which can plot date data), and change the style to only put dots by 
# adding style='.' to the plot() method:

movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

# We should investigate that wild outlier around 2006.

In [ ]:
# We’re just going to choose some rough cutoff dates to single out that one
# movie. We’ll look for any movie whose release date according to Wikipedia 
# is after 1996, but whose release date according to Kaggle is before 1965.

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
# Based on the output, it looks like somehow The Holiday in the Wikipedia 
# data got merged with From Here to Eternity. We’ll have to drop that row 
# from our DataFrame. We’ll get the index of that row with the following:

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
# Drop that row.

movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
# See if there are any null values:

movies_df[movies_df['release_date_wiki'].isnull()]

# The Wikipedia data is missing release dates for 11 movies.
# But the Kaggle data isn’t missing any release dates. In this case, 
# we’ll just drop the Wikipedia data.

In [ ]:
# Language
# For the language data, we’ll compare the value counts of each. However, consider the following code:

movies_df['Language'].value_counts()

# This code throws an error because some of the language data points are 
# stored as lists.

In [ ]:
# We need to convert the lists in Language to tuples so that the value_counts() method will work. See the following code:

movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
# For the Kaggle data, there are no lists, so we can just run value_counts()
# on it.

movies_df['original_language'].value_counts(dropna=False)

In [ ]:
# Production Companies
# Start off just taking a look at a small number of samples.

movies_df[['Production company(s)','production_companies']]

# The Kaggle data is much more consistent, and it would be difficult, if not
# impossible, to translate the Wikipedia data into the same format.

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia.
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data.
# box_office               revenue                  Keep Kaggle; fill in zeros with Wikipedia data.
# release_date_wiki        release_date_kaggle      Drop Wikipedia.
# Language                 original_language        Drop Wikipedia.
# Production company(s)    production_companies     Drop Wikipedia.

In [ ]:
# Put it all together.
# First, we’ll drop the title_wiki, release_date_wiki, Language, and Production 
# company(s) columns.

movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
# To save time, we’ll make a function that fills in missing data for a 
# column pair and then drops the redundant column.

def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
# Now we can run the function for the three column pairs that we decided to 
# fill in zeros.

fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [ ]:
# Since we’ve merged our data and filled in values, it’s good to check that 
# there aren’t any columns with only one value, since that doesn’t really 
# provide any information. Don’t forget, we need to convert lists to tuples 
# for value_counts() to work.

for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
# Running this, we see that 'video' only has one value:

movies_df['video'].value_counts(dropna=False)

# Since it’s false for every row, we don’t need to include this column.

In [ ]:
# Reorder the columns so they're easier to read.

movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [ ]:
# Finally, we need to rename the columns to be consistent.

movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
# Add Ratings Data
# We could calculate some basic statistics like the mean and median rating 
# for each movie, but a more useful summary is just to count how many times 
# a movie received a given rating.

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [ ]:
# Rename the “userId” column to “count.”

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)

In [ ]:
# We can pivot this data so that movieId is the index, the columns will be 
# all the rating values, and the rows will be the counts for each rating 
# value.

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
# We want to rename the columns so they’re easier to understand. 
# We’ll prepend rating_ to each column with a list comprehension:

rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [ ]:
# Use a left merge, since we want to keep everything in movies_df:

movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
# Finally, because not every movie got a rating for each rating level, there
# will be missing values instead of zeros. We have to fill those in ourselves, 
# like this:

movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)
movies_with_ratings_df

In [ ]:
# Create the Database Engine

db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"
engine = create_engine(db_string)

In [ ]:
# stmt_1 = "DROP TABLE movies"
# engine.execute(stmt_1)
stmt_2 = "DELETE FROM movies"
engine.execute(stmt_2)

In [ ]:
# Import the Movie Data
# To save the movies_df DataFrame to a SQL table, we only have to specify 
# the name of the table and the engine in the to_sql() method.

movies_df.to_sql(name='movies', con=engine)

In [ ]:
# # Step 1: Print Number of Imported Rows
# # Below is the previous block of code, with comments added for refactoring:

# # create a variable for the number of rows imported
# rows_imported = 0
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

#     # print out the range of rows that are being imported
#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    
#     data.to_sql(name='ratings', con=engine, if_exists='append')

#     # increment the number of rows imported by the chunksize
#     rows_imported += len(data)

#     # print that the rows have finished importing
#     print('Done.')

In [ ]:
# Step 2: Print Elapsed Time

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out     
    print(f'Done. {time.time() - start_time} total seconds elapsed')